.show-movie{
    padding-right: 210px;
}
.film{
    position: relative;
}
.film-child{
    position: absolute;
    top: 180px;
    left: 30px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.improve-name-film{
    width: 100px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}