ul{
    margin-bottom: 0rem;
}
li{
    list-style: none;
}
#home-movie{
    background-color: #030d18;
}
.title{
    display: flex;
    padding: 1px;
}
.title-index{
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.move-soon{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

}