
@media (min-width: 200px) {
    .header {
        background-image: url('../../assets/image/slider-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 40px;
        &-container {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &-logo {
            a {
                display: block;
            }
            &-img {
                width: 107px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &-menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-grow: 1;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
            }
            &-left {
                flex-grow: 1;
                position: fixed;
                top: 0;
                left: 0;
            }
            &-right {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            &-item {
                position: relative;
                &:hover .header-menu-dropdown {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(40px);
                    z-index: 1;
                }
            }
            &-link {
                color: #abb7c4;
                padding: 15px;
                &:hover, &.active {
                    color: var(--colorSecondary);
                }
                i {
                    margin-left: 4px;
                }
                &-login {
                    background-color: var(--colorThird);
                    color: #fff;
                    border-radius: 20px;
                    padding: 11px 25px;
                }
            }
            &-dropdown {
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                min-width: 210px;
                padding: 0;
                margin: 0;
                visibility: hidden;
                padding-top: 20px;
                padding-bottom: 20px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                transform: translateY(100px);
                transition: all .4s ease-in-out;
                &-link {
                    color: var(--colorPrimary);
                    padding: 10px 30px;
                    display: inline-block;
                    &:hover {
                        color: var(--colorThird);
                    }
                }
            }
        }

        &-search {
            border: 4px solid var(--colorPrimary);
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 3px;
            
            &-select, &-input {
                color: #fff;
                background-color: #233a50;
                height: 46px;
                border: none;
                outline: none;
            }

            &-select {
                border-right: 1px solid var(--colorPrimary);
                width: 20%;
                text-transform: uppercase;
                padding-left: 10px;
                padding-right: 10px;
            }

            &-input {
                flex-grow: 1;
                padding-left: 12px;
                padding-right: 46px;
            }

            &-icon {
                color: #fff;
                position: absolute;
                right: 0;
                top:0;
                font-size: 18px;
                text-align: center;
                width: 46px;
                height: 46px;
                line-height: 46px;
            }
        }

        &-social {
            color: #fff;
            width: 100%;
            text-align: right;
            span {
                text-transform: uppercase;
                font-weight: 700;
                margin-right: 15px;
                letter-spacing: 1px;
            }
            a {
                color: #fff;
                width: 32px;
                display: inline-block;
                text-align: left;
                &:last-child {
                    width: 14px;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .header {
        &-menu {
            margin-left: 30px;
            &-left {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
        &-bar {
            display: none;
        }
    }
}
@media (max-width: 992px) {
    .header {
        &-logo {
            order: 2;
            flex-grow: 1;
            text-align: center;
        }
        &-bar {
            color: #fff;
            border: 2px solid #fff;
            order: 1;
            font-size: 22px;
            border-radius: 6px;
            width: 37px;
            height: 37px;
            line-height: 33px;
            text-align: center;
        }
        &-menu-right {
            order: 3;
        }
        &-search {
            order: 4;
        }
        &-social {
            order: 5;
        }
    }
}